# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Node.js
node_modules/
package-lock.json*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm
npm-debug.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# React Native
.metro-health-check*
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.hprof
*.iml
*.idea/
*.iws
*.ipr
*.bak
*.swp
*.swo
*.swn
**/package-lock.json
**/node_modules
/server/package-lock.json
app/package-lock.json
app/expo-env.d.ts
app/package-lock.json
app/package-lock.json
/.vscode
/server/src/.env
.env